hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.input.is-danger:focus {
    border-color: #dc3545 !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #dc3545 !important;
    outline: 0 none;
}

.input.is-danger {
    border-color: #dc3545 !important;
}

.help.is-danger {
    color: #a94442;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.bulleted-list .seo-score-icon-bad:before {
    border: 5px solid #dc3232;
}

.bulleted-list .seo-score-icon-good:before {
    border: 5px solid #7ad03a;
}

.bulleted-list .seo-score-icon-ok:before {
    border: 5px solid #ee7c1b;
}

.bulleted-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.bulleted-list li:before {
    content: "";
    width: 0;
    height: 0;
    top: 16px;
    left: 0;
    z-index: 1;
    margin-right: 8px;
    position: absolute;
}

.bulleted-list li {
    padding-left: 20px !important;
}